/* --------------------------------------------------------------- */

/* ------- Major ------- */

/* --------------------------------------------------------------- */
$break-medium: 768px;
$break-small: 544px;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html, :root {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  @media screen and (max-width: $break-medium) {
    font-size: 15px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 14px;
  }
}