.signin-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url(../../assets/img/signin-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../../assets/img/signin-background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
}

.signin-container,
.header-text-box {
  height: 100vh;
}

.form-box {
  padding: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.small-links {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #000000;
}

.button .btn {
  width: 100%
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  /* border: 1px solid #ccc; */
}

.startflip .flipper,
.startflip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  /* width: 320px;
	height: 427px; */
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  /* background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat; */
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #f8f8f8;
  border-radius: 10px;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
  /* background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat; */
}

.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}

.flip {
  top: 20%;
}

.forget-password {
  padding: 55px;
}

.close-back {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #007bff;
  font-size: 1.5em;
  cursor: pointer;
}


.status{
  font-size: .8em;
  margin-top: 25px;
}

.errorAlert{
  font-size: .8em;
    margin-top: 25px;
}

.errorAlert p{
  margin-bottom: 0px;
}