.signin-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url(../../assets/img/signin-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../../assets/img/signin-background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
}

.signin-container,
.header-text-box {
  height: 100vh;
}

.form-box {
  padding: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.small-links{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #000000;
}

.button .btn{
  width:100%
}
