<div class="push-pull-box" (click)="onClickPushPullBox()">
  <i class="fa fa-commenting chat-icon" aria-hidden="true"></i>
</div>


<!-- --------------------chatBox-------------------- -->
<div class="agent-chat-box" [@slideInOut]="state">

  <div class="chat-bot-header bg-dark clearfix">
    <div class="left-class float-left">
      <i class="fa fa-envelope-open" aria-hidden="true"></i>
      <span class="header-title ml-3">Team Chat</span>
    </div>
    <div class="right-class float-right">
      <i class="fa fa-times close-button" aria-hidden="true" (click)="onClickClosePushPullBox()"></i>
    </div>
  </div>

</div>

<!-- <button type="button" class="btn btn-primary">Animate</button>  [@pushPullChatBox]="state"-->
